{% extends "base.html" %}

{% block content %}

<div class="form">
  <form method="post">
    <label>
      <div class="prompt">
        <p>Title</p>
      </div>
      <input type="text" name="title" value="{{title}}">
    </label>
    <label>
      <div class="prompt">
        </p>Article Content</p>
      </div>
      <textarea name="content">{{content}}</textarea>
    </label>
    <label>
      <input type="submit">
    </label>
    <div class="error">
      {{error}}
    </div>
  </form>
</div>
{% endblock %}
